<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
Header set Cache-Control "max-age=604800, public"
</FilesMatch>

Options -Indexes
RewriteEngine on
#RewriteRule ^/static/min/([bfg]=.*)  /static/min/index.php?$1 [L,NE]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?n=$1  [QSA,L]